.text-title {
    color: #c29e65;
}

.card-title {
    justify-content: center;
    color: #c29e65;
}

.custom-bg {
    background-color: #8C9DAD;
}

.logo-loading {
    animation: rotate 2s infinite;
}
.loading-container {
    
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}