.text-title {
    color: #c29e65;
}

.card-title {
    justify-content: center;
    color: #c29e65;
}

.custom-bg {
    animation: fadeIn 1s;
    background-image: url('/bakcground.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-background {
    width: 100%;
    height: 100%;
    object-fit: fill;
}